@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 200;
  src: url("./fonts/Poppins-Light.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Poppins;
  font-weight: 500;
  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  width: 900px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
}

.underline {
  margin-bottom: 20px;
}

/* HEADER */

.header {
  position: relative;
  display: flex;
  height: 200px;
  background-image: url(./images/fon-svetlii-beton-75.jpeg);
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header__pic {
  position: relative;
  margin: auto;
}

.header__pic-container {
  position: relative;
  top: 40px;
  left: 0;
  width: 200px;
  height: 200px;
  border: 8px solid whitesmoke;
  background-image: url(./images/IMG_20210112.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__name {
  display: flex;
  background-image: url(./images/fon-chernii-granzh-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  border-top-right-radius: 20px;
}

.header-intro {
  margin: auto;
  color: white;
  max-width: 75%;
}

.header-intro__title {
  font-size: 30px;
}

.header-intro__subtitle {
  margin-bottom: 15px;
}

.header-intro__text {
  font-weight: 200;
  font-size: 14px;
  line-height: 1.8;
}

/* MAIN */

.main {
  display: flex;
}

.main__title {
  font-weight: 500;
}

.main-item {
  margin-bottom: 30px;
}

.main-item__data {
  font-weight: 200;
  font-size: 12px;
}

.main-item__profession {
  font-weight: 500;
  margin-bottom: 8px;
}

.main-item__company {
  font-weight: 200;
  font-size: 12px;
}

.main-item__achievments {
}

.main-item__achievment {
}

.main-item__achievment-link {
  color: white;
  font-weight: 200;
  font-size: 12px;
  text-decoration: none;
}

/* LEFT SIDE OF CV */

.main__personal {
  color: white;
  width: 40%;
  background-image: url(./images/fon-chernii-granzh-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-contacts {
  margin: 80px auto 50px;
  max-width: 70%;
}

.contact-icon {
  padding: 2px;
  width: 24px;
  height: 24px;
  background-color: white;
}

.contact-text {
  margin-left: 20px;
}

.main-contacts__items {
  font-weight: 200;
  font-size: 10px;
}

.main-contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main-education {
  max-width: 70%;
  margin: auto;
}

.main-education__title {
  font-weight: 500;
}

/* RIGHT SIDE OF CV */

.main__professional {
  width: 60%;
  background-image: url(./images/fon-svetlii-beton-75.jpeg);
  background-size: cover;
}

/* ABOUT */

.main-about {
  margin: 40px 0 0 70px;
  max-width: 75%;
}

.main-about__text {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 20px;
}

.main-about__link {
  color: black;
  text-decoration: none;
}

/* Skills */

.skills {
  max-width: 70%;
  margin-left: 70px;
  margin-top: 40px;
}

.skills-items {
  font-weight: 200;
  font-size: 14px;
}

.skills-item {
}

/* LANGUAGES */

.main-languages {
  max-width: 70%;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-languages__item {
  font-size: 14px;
}

.main-languages__item_step {
  font-size: 12px;
  font-weight: 200;
}

/* FOOTER */

.footer {
  display: flex;
  height: 60px;
  background-image: url(./images/fon-svetlii-beton-75.jpeg);
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer__copyright {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__copyright-item {
  font-weight: 200;
  margin-left: 50px;
}

.footer__socials {
  background-color: black;
  width: 60%;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__social {
  margin-right: 40px;
}

.footer__social-link {
}

.footer__social-pic {
  width: 24px;
  height: 24px;
  background-color: white;
  padding: 2px;
}
